.notice {
  @apply bg-white shadow-lg border border-gray-100 dark:bg-gray-800 rounded-md p-4 w-max my-8 mx-auto;
}

.content {
  @apply flex items-center gap-6;
}

.icon {
  @apply text-xl flex-shrink-0 text-yellow-600 dark:text-yellow-200 mx-auto;
}

.text {
  @apply flex flex-col text-gray-700 dark:text-gray-50 text-sm;
}

.text strong {
  @apply font-bold
}

.success {
  @apply mt-4 text-green-800 bg-green-100 py-2 px-4 rounded;
}

.error {
  @apply mt-4 text-red-800 bg-red-100 py-2 px-4 rounded;
}

.button {
  @apply bg-blue-600/80 hover:bg-blue-600 disabled:opacity-60 disabled:cursor-not-allowed text-base text-white border-none py-2 px-4 rounded-md cursor-pointer whitespace-nowrap transition-colors duration-200;
}

@media (max-width: 768px) {
  .content {
    @apply flex flex-col items-start;
  }

  .button {
    @apply w-full;
  }
}
